h2 {
    font-family: "Atma";
    color: #ffff;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px #f490b9;
}

h4 {
    font-family: "Original Surfer";
    color: #f49f51;
    padding-bottom: 10px;
}

#createEventForm {
    border: none !important;
    font-family: Georgia;
}

#newEvent {
    background-color: #f490b9;
    font-family: Georgia;
    border-color: transparent;
    border-radius: 10px;
}

#saveEvent {
    background-color: #f490b9;
    font-family: Georgia;  
    border-color: transparent;
    border-radius: 10px;
}

/* event style*/
.event{
    border: 5px solid #f3b1af; 
    padding: 20px; 
    margin: 10px 0; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white background */
    box-shadow: 0 4px 12px #f25f5a58; /* Soft shadow */
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
    font-family: Georgia;
}

.title {
    font-weight: bolder;
}

#createEventForm {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff; /* White background for the login form */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    font-family: Georgia;
    justify-self: center;
}

#title {
    width: 300px;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #ccc;
}

#description {
    width: 300px;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #ccc;
}

#event_date {
    width: 160px;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #ccc;
}

#event_time {
    width: 136px;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #ccc;
}

#location {
    width: 300px;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #ccc;
}

#chapter {
    width: 300px;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #ccc;
}