.newPost{
    text-align: center;
}

.post-card{
    border: 5px solid #f3b1af; 
    padding: 20px; 
    margin: 10px 0; 
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white background */
    box-shadow: 0 4px 12px #f25f5a58; /* Soft shadow */
    max-width: 850px;
    margin-left: auto; 
    margin-right: auto;
    width: 90%;
    font-family: Georgia;
    
}

.post-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    margin-top: 10px;
}

/* Styling the image itself */
.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This crops the image to fill the space without stretching */
    display: block;
    justify-content: center;
    border-radius: 10px;
    max-width: 80%;
}

/* Styling for the post button, use a hashtag for selectors */
#postButton{
    background-image: linear-gradient(135deg, #f49f51, #f490b9) !important;
    font-family: "Original Surfer" !important;
    font-size: 25px;
    color: white;
    padding: 14px;
    border-radius: 20px;
    cursor: pointer;
    border: white;
    width: 60%;

}

.modal-header{
    background-color: #f49f51;
    font-family: Georgia;
    color: white;
}

.modal-body{
    background-color: #f7ccad;
}

#addPhotoBtn{
    background-color: #f49f51;
    color: white;
    border: none;
    font-family: Georgia;
    border-radius: 10px;
}

#postBtn{
    background-color: #f490b9;
    color: white;
    font-family: Georgia;
    border: none;
    font-size: large;
    border-radius: 10px;
}

#userText{
  background-color: rgb(252, 235, 231);
  font-family: Georgia;
  border-color: #f49f51;
}

#likeBtn{
  background-color: #f3b1af;
  color: white;
  border-radius: 10px;
}

#deletePostBtn{
  text-decoration: none;
  justify-self: right;
}

#commentBtn {
  color:#e81b69;
}

#deleteCmtBtn{
  text-decoration: none;
}

#cmtSection {
  background-color: #ffffffcb;
  font-family: Georgia;
}

#cmtBtn {
  background-color: #f490b9;
  color: white;
  font-family: Georgia;
  border: none;
  border-radius: 10px;
}