.newPost{
    text-align: center;
}

button{
    background-color: #fbe4fd;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 4px;
    border-radius: 8px;
}

.post-card{
    border: 5px solid #f3b1af; 
    padding: 15px; 
    margin: 10px 0; 
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6); /* Semi-transparent white background */
}

.post-image {
    width: 20%;
     /* Set your preferred "normal" height */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Light gray for empty space */
    border-radius: 8px;
    margin-top: 10px;
}

/* Styling the image itself */
.post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This crops the image to fill the space without stretching */
    display: block;
    justify-content: center;
}

body {
    background-image: url('../images/pinkBack.jpg');
    background-size: cover;        /* fills the whole screen */
    background-repeat: no-repeat;  /* prevents tiling */
    background-position: center;   /* keeps it centered */
}

/* Styling for the post button, use a hashtag for selectors */
#postButton{
    background-color: #b0e1ee;
    font-family: Emilys Candy;
    font-size: 25px;
    padding: 14px;
    border-radius: 8px;
}

.emilys-candy-regular {
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
}
