
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Horizontal Navigation Bar */
.navBar {
    list-style: none;
    background-color:  rgb(244, 159, 81); /* Dark background */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Georgia;
    font-size: large;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navBar li {
    margin: 0;
    padding: 0;
}

.navBar a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navBar a:hover {
    background-color: rgb(247, 204, 173); /* light color on hover */
    color: #e81b69; 
}

.navBar a:active {
    background-color: rgb(255, 231, 171);
}

h1{
    text-align: center;
    color:rgb(244, 144, 185);
    font-size: 80px !important;
    padding-top: 40px;
    text-shadow: 2px 2px 4px #ffffff;
}

body {
    background-image: url('../images/pinkBack.jpg');
    background-size: cover;        /* fills the whole screen */
    background-repeat: no-repeat;  /* prevents tiling */
    background-position: center;   /* keeps it centered */
    background-attachment: fixed;
    padding-top: 50px;
}

/*fonts*/
.original-surfer-regular {
  font-family: "Original Surfer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atma-light {
  font-family: "Atma", system-ui;
  font-weight: 300;
  font-style: normal;
}

.atma-regular {
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}

.atma-medium {
  font-family: "Atma", system-ui;
  font-weight: 500;
  font-style: normal;
}

.atma-semibold {
  font-family: "Atma", system-ui;
  font-weight: 600;
  font-style: normal;
}

.atma-bold {
  font-family: "Atma", system-ui;
  font-weight: 700;
  font-style: normal;
}